<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MultiplicationTable</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MultiplicationTable</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-input
        type="number"
        [formControl]="Num"
        label="Number to generate table: "
      ></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="generateTable()">Generate</ion-button>
  <ion-button (click)="restart()">Restart</ion-button>
  <ion-grid>
    <ion-row *ngFor="let num of Result; let i = index">
      <ion-col>{{i + 1}}: {{ num }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
